/*FONTS*/
/*font-family: 'Fira Sans Extra Condensed', sans-serif;
font-family: 'Arvo', serif;
font-family: 'Abel', sans-serif;
font-family: 'Bungee Shade', cursive;
font-family: 'Rajdhani', sans-serif;
font-family: 'Shrikhand', cursive;
font-family: 'Audiowide', cursive;
font-family: 'Squada One', cursive;
font-family: 'Press Start 2P', cursive;
font-family: 'Graduate', cursive;
font-family: 'Bungee Inline', cursive;*/


body{
    background-color: #FFFFFF;
    font-family: 'Squada One', cursive;
}

#navbar{
    font-family: 'Bungee Shade', cursive;
    height:100px;
    width:100%;
    background-color: #0018ba;
    border: none
    /*border-bottom: 1px solid black;*/
    /*box-shadow: 0px 4px 27px 6px rgba(0,0,0,0.75);*/
}

#navbar:hover{
    background-color: #2D7DD2;
}

#nav-header, #nav{
    margin-top: 25px;
    margin-left: 50px;

}



#home{
    position: absolute;
    left: 150px;
    font-size: 46px;
    color: #F45D01;
    border-right: 10px solid #F45D01;
    padding-right:150px
}

#home:hover{
    color: #9FCC2E;
}

#navitem{
    height:100px;
    color: #F45D01;
    margin-left: 50px;
    font-size: 40px;
}

#navitem:hover{
    background-color:green;
    color: #9FCC2E;
}

#logo{
    height:100px;
    width:200px;
    position: absolute;
    right: 0;
    top: 0;
    color: pink;
}
