/*FONTS*/
/*font-family: 'Fira Sans Extra Condensed', sans-serif;
font-family: 'Arvo', serif;
font-family: 'Abel', sans-serif;
font-family: 'Bungee Shade', cursive;
font-family: 'Rajdhani', sans-serif;
font-family: 'Shrikhand', cursive;
font-family: 'Audiowide', cursive;
font-family: 'Squada One', cursive;
font-family: 'Press Start 2P', cursive;
font-family: 'Graduate', cursive;
font-family: 'Bungee Inline', cursive;*/


body{
    background-color: #5BC0EB;
    height: 100vh;

}

/*--------------------HOME TAB--------------------*/
#home-screen{
    width:100%;
    margin: auto;
    text-align:center;
}

#home-name{
    font-family: 'Press Start 2P', cursive;
    font-size: 3vw;
    color: #black;
    margin-top: 250px;
    /*text-align:center;*/

}

#home-description{
    font-family: 'Press Start 2P', cursive;
    font-size: 3vw;
    color: #black;
    margin-top: 30px;

}

#question-mark{
    color: #F45D01;

}

@keyframes start-button {
    0%   {opacity: 1;}
    25%  {opacity: .5;}
    50%  {opacity: .1;}
    75%  {opacity: .5;}
    100% {opacity: 1;}
}
@keyframes question-mark {
    0%   {transform: translate(10px, 10px);}
    25%  {transform: translate(15px, 15px);}
    50%  {transform: translate(50px, 100px);}
    75%  {transform: translate(50px, 100px);}
    100% {transform: translate(50px, 100px);}
}

.press-start{
    animation: start-button 2s infinite;
    height:75px;
    width:300px;
    background-color:black;
    border: 5px solid red;
    border-radius: 50px;
    font-family: 'Press Start 2P', cursive;
    font-size: 2vh;
    color: red;
    margin-top: 50px;

    text-align: center;
    line-height: 3.5;
}

#question-mark{
    animation: question-mark 2s infinite;
}

#press-start:hover{
    animation: stuff 2s infinite;
}

#down-arrow{
    color:white;
    width:50px;
    height:50px;

    margin-top: 10px;
}



#navbar{
    position:fixed;
    top:0;
    font-family: 'Bungee Shade', cursive;
    height:15vh;
    width:100%;
    background-color: #0018ba;
    border: none
    /*border-bottom: 1px solid black;*/
    /*box-shadow: 0px 4px 27px 6px rgba(0,0,0,0.75);*/
}

#navbar:hover{
    /*background-color: #2D7DD2;*/
}

#nav-header, #nav{
    line-height: 3;
    padding-top:25px;

}



#home{
    left: 50px;
    font-size: 5vh;
    color: #51CB20 !important;
    border-right: 8px solid #51CB20;
    padding-right:75px
}

#home a{
    color: #51CB20 !important;
}

#home:hover a{
    color: #F45D01 !important;
    text-decoration: none;
}

#nav{

}

#navitem a{

    height:100px;
    color: #51CB20 !important;
    margin-left: 50px;
    font-size: 4vh;
}

#navitem:hover a, .active{
    color: #F45D01 !important;
    text-decoration: none;
}

{
    color: #F45D01 !important;
    text-decoration: none;
}

#logo{
    height:100px;
    width:100px;
    position: absolute;
    right: 0px;
    top: 0;
}

#about{
    font-size: 100px;
    margin-top: 200px;
}

/*--------------------Skills TAB--------------------*/


#skills-wrapper{
    text-align:center;
}
#skills-header{
    margin:auto;
    height: 15vh;
    width:75%;
    margin-top:200px;
    margin-bottom: 2px;
    border: 4px ridge #d69e3e;
    background-image: url("http://www.petesqbsite.com/sections/express/issue14/Foliagetutorial/clouds_tiled.png");
    font-family: 'Press Start 2P', cursive;
    font-size: 4vh;
    line-height: 3.5;

}

#skills-body{
    width:75%;
    height:200px;
    margin:auto;
    border: 4px ridge #d69e3e;
    background-image: url("http://www.petesqbsite.com/sections/express/issue14/Foliagetutorial/clouds_tiled.png");
    font-family: 'Press Start 2P', cursive;
    font-size: 3.5vh;
}

#known-skills{
    margin-top:10px;
    width:50%;
    float:left;
    font-family: 'Press Start 2P', cursive;
    font-size: 3.5vh;
    border-right: 4px ridge #d69e3e;
}

#upcoming-skills{
    margin-top:10px;
    width:50%;
    float:left;
    font-family: 'Press Start 2P', cursive;
    font-size: 3.5vh;
}
.icon{
    float:left;
    margin-top:10px;
    margin-left:15px;
    height:10vh;
    width:5vw;

}
