/*FONTS*/
/*font-family: 'Fira Sans Extra Condensed', sans-serif;
font-family: 'Arvo', serif;
font-family: 'Abel', sans-serif;
font-family: 'Bungee Shade', cursive;
font-family: 'Rajdhani', sans-serif;
font-family: 'Shrikhand', cursive;
font-family: 'Audiowide', cursive;
font-family: 'Squada One', cursive;
font-family: 'Press Start 2P', cursive;
font-family: 'Graduate', cursive;
font-family: 'Bungee Inline', cursive;*/


body{
    background-color: #5BC0EB;
    height: 200vh;

}

#home-screen{
    width:100%;
    margin: auto;
    text-align:center;
}

#home-name{
    font-family: 'Press Start 2P', cursive;
    font-size: 4vw;
    color: #black;
    margin-top: 350px;
    /*text-align:center;*/

}

#home-description{
    font-family: 'Press Start 2P', cursive;
    font-size: 3vw;
    color: #black;
    margin-top: 30px;

}

#question-mark:hover{
    animation: stuff 3s infinite;

}

@keyframes start-button {
    0%   {opacity: 1;}
    25%  {opacity: .5;}
    50%  {opacity: .1;}
    75%  {opacity: .5;}
    100% {opacity: 1;}
}
@keyframes question-mark {
    0%   {transform: translate(10px, 10px);}
    25%  {transform: translate(15px, 15px);}
    50%  {transform: translate(50px, 100px);}
    75%  {transform: translate(50px, 100px);}
    100% {transform: translate(50px, 100px);}
}

.press-start{
    animation: start-button 2s infinite;
    height:75px;
    width:300px;
    background-color:black;
    border: 5px solid red;
    border-radius: 50px;
    font-family: 'Press Start 2P', cursive;
    font-size: 2vh;
    color: red;
    margin-top: 50px;

    text-align: center;
    line-height: 3.5;
}

#question-mark{
    animation: question-mark 2s infinite;
}

#press-start:hover{
    animation: stuff 2s infinite;
}

#down-arrow{
    color:white;
    width:50px;
    height:50px;

    margin-top: 10px;
}

#navbar{
    position:fixed;
    top:0;
    font-family: 'Bungee Shade', cursive;
    height:100px;
    width:100%;
    background-color: #0018ba;
    border: none
    /*border-bottom: 1px solid black;*/
    /*box-shadow: 0px 4px 27px 6px rgba(0,0,0,0.75);*/
}

#navbar:hover{
    /*background-color: #2D7DD2;*/
}

#nav-header, #nav{
    line-height: 3;
    padding-top:25px;

}



#home{
    position: absolute;
    left: 100px;
    font-size: 46px;
    color: #51CB20 !important;
    border-right: 10px solid #51CB20;
    padding-right:75px
}

#home a{
    color: #51CB20 !important;
}

#home:hover a{
    color: #F45D01 !important;
    text-decoration: none;
}

#nav{

}

#navitem a{
    height:100px;
    color: #51CB20 !important;
    margin-left: 50px;
    font-size: 34px;
}

#navitem:hover a, .active{
    color: #F45D01 !important;
    text-decoration: none;
}

{
    color: #F45D01 !important;
    text-decoration: none;
}

#logo{
    height:100px;
    width:100px;
    position: absolute;
    right: 0px;
    top: 0;
}

#about{
    font-size: 100px
}


/*OTHER STUFF*/

/*#header-wrapper{
    width:100%;
    float:left;
}

li{
    display: inline-block;
    float:left;
    margin-left: 100px;

}*/
